*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.exe
*.out
*.app
build/
hacoe-out/
llvm_passes/build/
omni_analyzer
hardware_profile.json
cfg_features.json
perf_metrics.json
__pycache__/
*.pyc
*~
